:root {
  --color-primary: #9b4dca;
  --color-secondary: #f4f5f6;
  --color-error: #f44336;
  --color-dark: #655d5d;
}

/* Typography */
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  width: 100%;
}

/* Basic Layout */
::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

/* Header Component */
.header {
  align-self: stretch;
  background-color: var(--color-secondary);
  text-align: center;
}

.header__logo {
  box-sizing: content-box;
  height: 10rem;
  padding: 5rem 0 0.5rem;
}

.header__title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 4.6rem;
    padding-bottom: 3.5rem;
  }

  .header__logo {
    height: 20rem;
  }
}

/* TaskBar Component */
.task-bar {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.task-bar .task-bar__input--error {
  border: 1px solid var(--color-error);
  animation: shake 0.2s ease-in-out 0s 2;
}

.task-bar .task-bar__input--error::placeholder {
  color: var(--color-error);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 1024px) {
  .task-bar {
    padding-bottom: 4rem;
  }
}

/* Loader Component */
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-dark);
  letter-spacing: 0.2em;
}

.loader::before,
.loader::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: var(--color-primary);
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

/* TasksList Component */
.tasks-list {
  flex-grow: 1;
  padding: 2rem;
  width: 100%;
  max-width: 112rem;
}

.task-list__task {
  background: var(--color-secondary);
  border: 0;
  border-left: 0.3rem solid var(--color-primary);
  color: var(--color-dark);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;
  padding: 1rem 1.5rem;
}

.task__description {
  margin: 0;
  flex-grow: 1;
}

.task__description--completed {
  font-style: italic;
  text-decoration: line-through;
}

.task__icon {
  cursor: pointer;
}

/* Footer Component */
.footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-secondary);
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.footer__copyright {
  margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-weight: 400;
  }
}
