/* Typography */
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  width: 100%;
}

/* Basic Layout */
::selection {
  background-color: #9b4dca;
  color: #f4f5f6;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

/* Header component */
.header {
  align-self: stretch;
  background-color: #f4f5f6;
  text-align: center;
}

.header__logo {
  box-sizing: content-box;
  height: 10rem;
  padding: 5rem 0 0.5rem;
}

.header__title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 4.6rem;
    padding-bottom: 3.5rem;
  }

  .header__logo {
    height: 20rem;
  }
}

/* TaskBar Component */
.task-bar {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.task-bar .task-bar__input--error {
  border: 1px solid #f44336;
  animation: shake 0.2s ease-in-out 0s 2;
}

.task-bar .task-bar__input--error::placeholder {
  color: #f44336;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 1024px) {
  .task-bar {
    padding-bottom: 4rem;
  }
}

/* TasksList component */
.tasks-list {
  flex-grow: 1;
  /* height: 100%; */
  padding: 2rem;
  width: 100%;
  max-width: 112rem;
}

.task-list__task {
  background: #f4f5f6;
  border: 0;
  border-left: 0.3rem solid #9b4dca;
  color: #655d5d;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;
  padding: 1rem 1.5rem;
}

.task__description {
  margin: 0;
  flex-grow: 1;
}

.task__description--completed {
  font-style: italic;
  text-decoration: line-through;
}

.task__icon {
  cursor: pointer;
}

/* Footer */
.footer {
  align-items: center;
  align-self: stretch;
  background-color: #f4f5f6;
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.footer__copyright {
  margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-weight: 400;
  }
}
